.surrogacy-costs .title h3 {
    font-family: roboto-thin;
    font-size: 26px !important;
    color: #000;
    margin-bottom: 20px;
}

.surrogacy-costs .title h2 {
    font-family: roboto-light;
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
}

.surrogacy-costs-info {
	margin-top: 2rem;
}

.surrogacy-costs-info p{
	font-family: roboto-light !important;
}

.surrogacy-costs-info ul{
	padding-left: 1rem;
	margin-top: 1rem;
}

.surrogacy-costs-info ul li{
	font-family: roboto-thin;
    font-size: 20px;
    color: #000;
    margin-bottom: 18px;
}

.surrogacy-costs-info ul li span{
	color: #FF5C28;
    font-family: roboto-light;
}

.surrogacy-costs-table {
	margin-top: 2rem;
}
.surrogacy-costs-table table {
	margin: 0 auto;
}
@media screen and (max-width: 768px){
	.surrogacy-costs-table table {
	width: auto !important;
	display:flex;
}
}
.table-striped tbody tr:nth-child(1){
background-color: rgba(0, 0, 0, 0.05) !important;}
.surrogacy-costs-table table tr:nth-child(1) {
	background-color: #FF5C28;
}
.surrogacy-costs-table table tr td:nth-child(1) {
	width:75%;
}
.surrogacy-costs-table table tr td:nth-child(2) {
	width:25%;
}

.surrogacy-costs-table h4{
	font-family: roboto-light;
    font-size: 26px;
    color: #000;
}

.surrogacy-costs-table p{
	font-family: roboto-light !important;
	font-size: 20px !important;
	margin-top: 20px;
	font-weight: 600;
	margin-bottom: 5px !important;
	text-align: center;
}


.surrogacy-table {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.surrogacy-table li{
	display: flex;
	border-top: 1px solid #FF5C28;
	border-left: 1px solid #FF5C28;
	border-right: 1px solid #FF5C28;
}
.surrogacy-table li:first-child {
	background: #ffd700 !important;
}
.surrogacy-table li:last-child {
	border-bottom: 1px solid #FF5C28;
}
.surrogacy-table li span {
	padding: 10px;
	font-size: 16px;
}
.surrogacy-table li:nth-child(2n+1) {
	background: rgba(242, 242, 242, 0.4);
}
.surrogacy-table li span:first-child {
	display: block;
	width: 75%;
}
.surrogacy-table li span:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	text-align: center;
	border-left: 1px solid #FF5C28;
}
.get-cons-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 1px solid #FF5C28;
	border-radius: 5px;
	margin: 1.5rem auto;
	cursor: pointer;
	width: 280px;
	height: 50px;
	font-family: roboto-thin;
    font-size: 20px;
	color: #000;
	padding-top: 1px;
}
.get-cons-btn:hover{
	transition: .3s ease-in-out;
	text-decoration: none;
	background: #FF5C28;
	color: #fff;
}